@page "/"

<div class="container">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid" src="charles.jpg" alt="Me">
        </div>
        <div class="col-8">
            <div class="row my-4" id="profile">
                <h3>Profile</h3>
                <hr>
                <div>
                    I'm a software tester, specializing in testing enterprise software applications for reporting data to regulatory agencies such as FinCEN and the EPA. Attached in the nav are links to my social media and personal projects. 
                </div>
            </div>
            <div class="row my-4" id="tech">
                <h3>Technologies</h3>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">ASP.Net</div>
                        <div class="col-lg-6">NodeJs</div>
                        <div class="col-lg-6">PowerShell</div>
                        <div class="col-lg-6">Nunit</div>
                        <div class="col-lg-6">Allure</div>
                        <div class="col-lg-6">Cypress</div>
                        <div class="col-lg-6">k6</div>
                        <div class="col-lg-6">Github</div>
                        <div class="col-lg-6">Selenium</div>
                        <div class="col-lg-6">Jenkins</div>
                        <div class="col-lg-6">Azure DevOps</div>
                    </div>
                </div>
                <h3>Passions</h3>
                <hr>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6">Pokemon</div>
                        <div class="col-lg-6">Capoeira</div>
                        <div class="col-lg-6">Travel</div>
                        <div class="col-lg-6">Strength Training</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>